@model Nop.Plugin.Payments.Worldline.Models.RefundModel
@inject Nop.Core.IWebHelper webHelper

@{
    //Layout = "_ColumnsOne";
    ViewBag.Title = "Refund";
    Layout = "_AdminLayout";
}

<form asp-controller="Worldline" asp-action="Refund"  class="form-group" accept-charset="UTF-8" method="post">
    <input asp-for="TransactionId" type="hidden"/>
    <div class="content-header clearfix">
            <h3 class="float-left">
                Refund- (Order #@Model.OrderId)
        </h3>
        <h1 class="float-right">                
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="Edit" asp-route-id="@Model.OrderId" asp-controller="Order" >Back to Order</a>
            </small>
        </h1>
    </div>

    <div class="content">
        <div class="form-horizontal">

            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">                            
                        <div class="search-body">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <label for="Tansaction_ID">Tansaction ID: </label>
                                        </div>
                                        <div class="col-md-9">  
                                            <nop-editor asp-for="TransactionId" data-/>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <label for="Amount">Amount: </label>
                                        </div>
                                        <div class="col-md-9">
                                            <nop-editor asp-for="Amount" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <label for="Date">Date: </label>
                                        </div>
                                        <div class="col-md-9">  
                                            <nop-editor asp-for="TransactionDate" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                                
                            <div class="row">
                                <div class="col-md-5 col-md-offset-1">
                                    <input type="submit" class="btn btn-primary" name="commit" id="btnsubmit" value="Submit" data-disable-with="submit" />
                                </div>
                            </div>

                            <div id="UpdatePanel"></div>
                            @{
                                if (ViewBag.Tokens != null)
                                {
                                        <hr />
                                        <div class="content">
                                            <table>
                                                <tr>
                                                    <td>Status Code</td>
                                                    <td>@ViewBag.Tokens[6]["paymentTransaction"]["statusCode"].ToString()</td>
                                                </tr>
                                                <tr>
                                                    <td>Merchant Transaction Reference No</td>
                                                    <td>@ViewBag.Tokens[1].ToString()</td>
                                                </tr>
                                                <tr>
                                                    <td>Worldline Merchant Transaction ID</td>
                                                    <td>@ViewBag.Tokens[6]["paymentTransaction"]["identifier"].ToString()</td>
                                                </tr>
                                                <tr>
                                                    <td>Amount</td>
                                                    <td>@ViewBag.Tokens[6]["paymentTransaction"]["amount"].ToString()</td>
                                                </tr>
                                                <tr>
                                                    <td>Message</td>
                                                    <td>@ViewBag.Tokens[6]["paymentTransaction"]["errorMessage"].ToString()</td>
                                                </tr>
                                                <tr>
                                                    <td>Status Message</td>
                                                    <td>@ViewBag.Tokens[6]["paymentTransaction"]["statusMessage"].ToString()</td>
                                                </tr>
                                                <tr>
                                                    <td>Date Time</td>
                                                    <td>@ViewBag.Tokens[6]["paymentTransaction"]["dateTime"].ToString()</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <br />
                                }
                            }
                        </div>
                    </div>
                    </div>
                </div>
        </div>
    </div>
</form>
    @*<br><br>
    <form action="/Worldline/Refund" id="UpdatePanel" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="ACcsicvpMK3Ivox/IVweYwnZrU5BpuBKN8yM0LG8kuQZGzGaBFcFcMmKRDmOQCb1pjZ6bH37CvpUcDQqccpoXg==" /></form>*@


